<form class="example-form" [formGroup]='form'>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Escolha um projeto" [matAutocomplete]="autoprojects" formControlName='project'>
    <mat-autocomplete #autoprojects="matAutocomplete" (opened)="projectOpened()" (optionSelected)="onProjectChanged($event)" [displayWith]="displayProject">
      <mat-option *ngFor="let option of filteredProjects | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Escolha uma tarefa" [matAutocomplete]="autotasks" formControlName='task'>
    <mat-autocomplete #autotasks="matAutocomplete" (opened)="taskOpened()" (optionSelected)="onTaskChanged($event)" [displayWith]="displayTask">
      <mat-option *ngFor="let option of filteredTasks | async" [value]="option">
        {{option.description}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-button [disabled]="isDisabled()" (click)="start()">Start!</button>
  

  <div *ngIf="currentActivity !== undefined">
    <h1>{{currentActivity.projectName}}    -    {{currentActivity.taskName}} </h1>
    <timespan [start]="currentActivity.startDate"></timespan>
  </div>
</form>